
{%
  set title_classes = [
    'title',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

<section{{ attributes.addClass('pagewidth') }}>
  {% if comments and not label_hidden %}
    {{ title_prefix }}
    <h2{{ title_attributes.addClass(title_classes) }}>{{ label }}</h2>
    {{ title_suffix }}
  {% endif %}

  {{ comments }}

  {% if comment_form %}
    <h2 class='title comment-form__title'>{{ 'Add new comment'|t }}</h2>
    {{ comment_form }}
  {% endif %}

</section>
