{#
------------------------------------
Template for field type:

---------------------------------

Field template sugestions pattern:

field--[content-type(node/comment/block) ]---field-[field-name]--[name-of-content-type].html.twig
field--[content-type(node/comment/block) ]---field-[field-name].html.twig
field--[content-type(node/comment/block) ]--[name-of-content-type].html.twig
field--field-[field-name].html.twig
field--[type].html.twig
field.html.twig

#}

{#
Available variables:
{{attributes}}: HTML attributes for the containing element.
{{label_hidden}}: Whether to show the field label or not.
{{title_attributes}}: HTML attributes for the title.
{{label}}: The label for the field.
multiple: TRUE if a field can contain multiple items.
items: List of all the field items. Each item contains:
  - attributes: List of HTML attributes for each item.
 - content: The field item's content.
{{entity_type}}: The entity type to which the field belongs.
{{field_name}}: The name of the field.
{{field_type}}: The type of the field.
{{label_display}}: The display settings for the label.
--------------------------------------------------------------------------------
#}

{# For really easy debiggin we add a bunch of _t- classes with info #}

{%
  set classes = [
    'type-' ~ field_type|clean_class,
    '_t-' ~ bundle,
    '_t-' ~ view_mode,
    '_t-' ~ field_name,
    '_t-' ~ field_type,
    label_hidden ? '_t-label-false' : '_t-label-true',
    multiple ? '_t-multiple-true' : '_t-multiple-false',
  ]
%}
{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{#
  Renders a field in 4 different versions:
  multiple - lable hidden
  single - lable hidden
  multple label shown
  single label shown
#}

{% if label_hidden %}
  {# --Multiple & no label  ------------------------------------------------- #}
  {% if multiple %}
    {% block field_multiple %}
    <ul{{ attributes.addClass(classes) }}>
      {% for item in items %}
        <li{{ item.attributes.addClass() }}>{{ item.content }}</li>
      {% endfor %}
    </ul>
    {% endblock %}
  {# /--Multiple & no label  ------------------------------------------------ #}

  {% else %}

  {# --single & no label  --------------------------------------------------- #}
  {% for item in items %}
    {% block field_single %}
      <div{{ attributes.addClass(classes) }}>{{ item.content }}</div>
    {% endblock %}

  {% endfor %}
  {# / --single & no label  ------------------------------------------------- #}

  {% endif %}
  {# end of label_hidden #}
{% else %}
  {# Show label #}
  {% if multiple %}
  {#  multiple with label ----------------------------------------------------#}
    {% block field_multiple_label %}
    <section{{ attributes.addClass(classes) }}>
      <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
      <ul>
      {% for item in items %}
        <li{{ item.attributes.addClass() }}>{{ item.content }}</li>
      {% endfor %}
      </ul>
    </section>
    {% endblock %}
  {% else %}

  {# single with label ------------------------------------------------------ #}
    {% block field_single_label %}
    <section{{ attributes.addClass(classes) }}>
      <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
      {% for item in items %}
        <div{{ item.attributes.addClass() }}>{{ item.content }}</div>
      {% endfor %}
    </section>
    {% endblock %}
  {% endif %}

{% endif %}
