{#
preprocess : @see template_preprocess_comment()
documentation: https://api.drupal.org/api/drupal/core%21modules%21comment%21comment.module/function/template_preprocess_comment/8
test url: node/
Note: Comments are a pain as everything gets epicly casched ...

These two variables are provided for context:
{{ comment }}: Full comment object. - wpod when i run it.
{{ entity }}: Entity the comments are attached to.

-----------------------------------
userr:
{{ author }}: Comment author. Can be a link or plain text.
{{ submitted }}: from author and created
{{ user_picture}}: The comment author's profile picture.
{{ user.anonymous() }}
{{ user.authenticated }}
{{ user.email}}
-------------------------------------------------------------------------------
link:
{{ permalink }} : permalink text string with url in
{{ comment.permalink() }} : rawlink
{{ title }}
-------------------------------------------------------------------------------
dates:
{{ created }}: Formatted date and time for when the comment was created.
{{ changed }}: Formatted date and time for when the comment was last changed.

{{ comment.createdtime|date('d.m Y H.m.s') }}
{{ comment.changedtime|date('d.m Y H.m.s') }}

-------------------------------------------------------------------------------
title
{% if title %}
  {{ title_prefix }}
  <h3{{ title_attributes }}>{{ title }}</h3>
  {{ title_suffix }}
{% endif %}


{{ content }} to print them all, or print a subset such as
{{ content|without('links') }}
{{ content.links}}

{{ status }}: Comment status. values  unpublished, published, or preview.

The following applies only to viewers who are registered users:
 - unpublished: An unpublished comment visible only to administrators.

{{threaded}}: A flag indicating whether the comments are threaded or not.
{{comment_parent}}: Full parent comment entity (if any).
{{parent_author}}: Equivalent to author for the parent comment.
{{parent_created}}: Equivalent to created for the parent comment.
{{parent_changed}}: Equivalent to changed for the parent comment.
{{parent_title}}: Equivalent to title for the parent comment.
{{parent_permalink}}: Equivalent to permalink for the parent comment.
{{parent}}: A text string of parent comment submission information created from
            'parent_author' and 'parent_created' during template_preprocess_comment().
            This information is presented to help screen readers follow lengthy
            discussion threads. You can hide this from sighted users using the class
            visually-hidden.
#}

{# add classy indented is its threaded ... we should change that  #}
{% if threaded %}
  {{ attach_library('classy/indented') }}
{% endif %}
{# creats the classes #}
{%
  set classes = [
    'js-comment',
    status != 'published' ? status,
    comment.owner.anonymous ? 'by-anonymous',
    author_id and author_id == commented_entity.getOwnerId() ? 'by-' ~ commented_entity.getEntityTypeId() ~ '-author',
  ]
%}

<article{{ attributes.addClass(classes) }} id="comments">

  <h3>{{ comment.getSubject() }}</h3>{#  label without link  get an epic error if we do comment.subject #}

  {#  Hide the "new" indicator by default, let a piece of JavaScript ask the server which comments are new for the user.  #}
  <mark class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></mark>

  <footer class="comment__meta">
    status: {{ status }}

    <div class="cal">
      <div class="cal__day">{{ comment.createdtime|date('l')|lower }}</div>
      <div class="cal__date">{{ comment.createdtime|date('d')|lower }}</div>
      <div class="cal__month">{{ comment.createdtime|date('F')|lower }}</div>
      <div class="cal__year">{{ comment.createdtime|date('Y')|lower }}</div>
    </div>
    time : {{ comment.createdtime|date('H:m:s') }}
    <hr>
    {# @TODO: make a time ago calculation in twig
    http://twig.sensiolabs.org/doc/extensions/date.html
    regiser $twig->addExtension(new Twig_Extensions_Extension_Date());
    {{ comment.createdtime|time_diff }}
    #}

    {{ comment.changedtime|date('d.m Y H.m.s') }}

    {# @TODO i want to control the size of the image #}
    {# @TODO i want the picture witout a link #}
    {{ user_picture }}

    <a href="/user/{{ author_id }}">{{ user.username }}</a>

  {# @TODO get roles out for a user. usecase I want to know the roles for to create a class for that #}
  {# roles: {{ user.getRoles() }}  getRoles dont give us anything #}

    {# Indicate the semantic relationship between parent and child comments for accessibility. The list is difficult to navigate in a screen reader   without this information.    #}
    {% if parent %}
      <p class="parent visually-hidden">{{ parent }}</p>
    {% endif %}

    <a href="{{ comment.permalink() }}" rel="bookmark">perma</a>
  </footer>

  <div{{ content_attributes.addClass('content') }}>
    {{ content|without('links') }}

    {{ content.links}}
    {# @TODO: ok wheres the comment form added ?  #}
  </div>
</article>
