{{ attach_library('vanilla/hero') }}

{%
  set classes = [
    'content-type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass('') }}>
{#
  node title - if its printed here, remove the title from  blocks
  admin/structure/block/manage/vanilla_page_title
#}
{# field--node--field-image.html.twig  #}

  <div class="hero L-center-middle screenheight-full screenheight-half@s ">

    {{ content.field_image }}

    <div class="hero__text">
      <h1{{ title_attributes.addClass('hero__title') }}>{{ label }}</h1>
      {{ content.field_teaser }}
    </div>

  </div>

  <div class="L pagewidth">
    <footer class="w-3 L-center-middle L--horizontal">
      {# author_picture prints out user / usercompact  #}
      {{ author_picture }}

      {# author_name #}

      <ul class="u-small">
        <li>{{ node.createdtime|date("d.m.Y H:m") }}</li>
        <li>( {{ node.changedtime|date("d.m.Y") }} )</li>
      </ul>

      {{ content.field_tags }}
      {# content.field_section #}
      {{ metadata }}
    </footer>
    <div class="w-9">
      {{ content.field_teaser }}
    </div>
  </div>

  <section{{ content_attributes.addClass('L pagewidth') }}>
    {# print out content without the fields thats printed other places #}
    {{ content|without('field_tags', 'field_image', 'field_section','field_teaser','comment','links','field_images', 'field_files', 'field_links') }}


  </section>

  {{ content.field_images }}
  {{ content.field_files }}
  {{ content.field_links }}

  {{ content.comment }}
</article>
