{{ attach_library('vanilla/hero') }}
{{ attach_library('vanilla/node') }}


<article{{ attributes }}>
{#
  node title - if its printed here, remove the title from  blocks
  admin/structure/block/manage/vanilla_page_title
#}

  <div class="hero L-center-middle screenheight-full screenheight-half@s ">
    {{ content.field_image }}
    <div class="hero__text">
      <a href="#node" class="">
        <h1{{ title_attributes.addClass('hero__title') }}>{{ label }}</h1>
        {{ content.field_teaser }}
      </a>
    </div>
  </div>

  <div class="L pagewidth" id="node">
    <footer class="meta w-3 w-12@s L-center-middle L--horizontal">
      {# author_picture prints out user / usercompact  #}
      {{ author_picture }}
      {# author_name #}
      <ul class="u-small">
        <li>{{ node.createdtime|date("d.m.Y H:m") }}</li>
        <li>( {{ node.changedtime|date("d.m.Y") }} )</li>
      </ul>

      {{ content.field_tags }}
      {# content.field_section #}
      {{ metadata }}
    </footer>

    <div class="w-9 w-12@s f-large f-intro">
      {{ content.field_intro }}
    </div>
  </div>

  <div class="divider pagewidth"></div>

  <section{{ content_attributes.addClass('') }}>
    {# print out content without the fields thats printed other places #}
    {{ content|without('field_tags', 'field_image', 'field_section','field_teaser','field_intro','comment','links','field_images' ) }}
  </section>

  {{ content.comment }}
</article>
