
{%
  set classes = [
    'content-type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass('layout-fullwidth') }}>
  {#
  node title - if its printed here, remove the title from  blocks
  admin/structure/block/manage/vanilla_page_title
  #}

  {# field--node--field-image.html.twig  #}
  <div class="hero">
    {{ title_prefix }}
      <h1{{ title_attributes.addClass('hero__title') }}>{{ label }}</h1>
    {{ title_suffix }}

    {{ content.field_image }}
    {{ content.field_teaser }}
  </div>

  <footer class="gray-100 metadata">

    <div class="layout layout--width-75">
      <div class="width-2 u-align-right">
        {{ author_picture }}
      </div>
      <div class="width-6">
        <i class="icon icon--badge-retro icon--s">date</i>
        {{ author_name }}
        <br>
        <i class="icon icon--s icon--date">date</i>
        {{ node.createdtime|date("d.m.Y H:m") }}
        ( {{ node.changedtime|date("d.m.Y") }} )
        <br>
        <i class="icon icon--badge-retro icon--s">date</i>
        {{ content.field_tags }}
        {{ metadata }}
      </div>
      <div class="width-4  u-align-right">
        {{ content.field_section }}
      </div>
    </div>

  </footer>

{# teaser + meta done  #}

  <section{{ content_attributes.addClass('layout layout-pagewidth') }}>
    {# print out content without the fields thats printed other places #}
    {{ content|without('field_tags', 'field_image', 'field_section','field_teaser','comment','links','field_images', 'field_files', 'field_links') }}
  </section>

  <div class="layout-fullwidth">
    {{ content.field_images }}
  </div>

  <div class="layout layout-pagewidth">
    <div class="width-6">
      {{ content.field_files }}
    </div>
    <div class="width-6">
      {{ content.field_links }}
    </div>

  </div>



  {# @TODO
  this {{ link( label, url) }}
  gives me this *sigh*
  InvalidArgumentException: The URI '/node/1' is invalid. You must use a valid URI scheme. in Drupal\Core\Url::fromUri() (line 301 of core/lib/Drupal/Core/Url.php).
  #}

{#
  somehow fucking devel fucks this over as a permalink ?
  <a href="{{ url }}" title="{{ node.label }}">
    {{ 'Go!'|t }}
    <span class="visually-hidden">{{ node.label }}</span>
  </a> |
 #}
  {# do a test if you can add comments
    the anchor can be adjust at
  #}
  {# number of comments
    @TODO we dont have content.comments on teasers that sucks - there shold be a count somewhere

  #}

  {# <a href="{{ url }}#comments" title="{{'Jump to the first comment'|t}}">
    {{content.comment['#items'].comment_count}}
    {{'comments'|t}}
  </a> |
  #}

  <section class="layout-pagewidth">
    {{ content.comment }}
  </section>

  {# sociail stuff
    @TODO: can we drop in a block here ?
    twitter button
    https://about.twitter.com/resources/buttons#tweet

    @TODO: remove this from the hardcoded part
    here we grap the user name fro the user and prints this stuff out on the dfollow button.
    pretty sure we can make this happen with the field type
  #}

  <a href="https://twitter.com/share" class="twitter-share-button"{count} data-via="mortendk">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  {# follow #}
  <a href="https://twitter.com/mortendk" class="twitter-follow-button" data-show-count="false">Follow @mortendk</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</article>
