{{ attach_library('vanilla/menu-main') }}
{# remove the id from blocks #}
{%
  set classes = [
    'L-center',
  ]
%}

<nav role="navigation"
{{ attributes.addClass(classes).removeAttribute('role', 'aria-labelledby','id') }}
aria-labelledby="{{ attributes.id ~ '-menu'|clean_id }}"
>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('visually-hidden') %}
  {% endif %}
  {{ title_prefix }}
  <h2{{ title_attributes }}>{{ configuration.label }}</h2>
  {{ title_suffix }}

  {{ content }}

</nav>
