{# css classes #}
{%
  set classes = [

  ]
%}

<nav{{ attributes.addClass(classes) }}>
  <h3{{ title_attributes.addClass('visually-hidden') }}>{{ label }}</h3>
  <ul>
  {% for item in items %}
    <li{{ item.attributes }}>
    icon :
    {{ item.content }}

  </li>
  {% endfor %}
  </ul>
</nav>
