{%
  set classes = [
    'field-type-' ~ field_type|clean_class,
  ]
%}
{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{#
  Renders a field in 4 different versions:
  multiple - lable hidden
  single - lable hidden
  multple label shown
  single label shown
#}

{% if label_hidden %}
  {# --Multiple & no label  ------------------------------------------------- #}
  {% if multiple %}
    <ul{{ attributes.addClass(classes, 'field__items') }}>
      {% for item in items %}
        <li{{ item.attributes.addClass('field__item') }}>{{ item.content }}</li>
      {% endfor %}
    </ul>
  {# /--Multiple & no label  ------------------------------------------------ #}

  {% else %}

  {# --single & no label  --------------------------------------------------- #}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
  {# / --single & no label  ------------------------------------------------- #}

  {% endif %}
  {# end of label_hidden #}
{% else %}
  {# Show label #}
  {% if multiple %}
  {#  multiple with label ----------------------------------------------------#}
    <section{{ attributes.addClass(classes) }}>
      <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
      <ul class='field__items'>
      {% for item in items %}
        <li{{ item.attributes.addClass('field__item') }}>{{ item.content }}</li>
      {% endfor %}
      </ul>
    </section>

  {% else %}

  {# single with label ------------------------------------------------------ #}
    <section{{ attributes.addClass(classes) }}>
      <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>{{ item.content }}</div>
      {% endfor %}
    </section>
  {% endif %}

{% endif %}
