{{ attach_library('vanilla/tabs') }}
{# remove the id from blocks #}
<nav{{ attributes.addClass('menu-h', 'pagewidth', 't-tabs')|without('id') }}>

  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {{ content }}


</nav
