{{ attach_library(active_theme() ~ '/footer') }}

<footer role="contentinfo" class="L LS-top pagewidth screenheight-third">

  <div class="w-12 t-gray700 L-space">
    <div>{{ page.footer_1 }}</div>
    <div>{{ page.footer_2 }}</div>
    <div>{{ page.footer_3 }}</div>
    <div>{{ page.footer_4 }}</div>
  </div>

  <div class="w-12">

  {{ page.footer }}

  {% set themename %}
    {{ active_theme() }}
  {% endset %}

  <div class="L-center">
    {% trans %}
      made <awith <3 & <a href="https://drupal.org/project/vanilla"> {{ themename}} theme</a>
    {% endtrans %}

  </div>

  </div>

</footer>
