{#
@TODO we should add in a seperate template for this when we print the
user image on a node, else its gonna be a pita to control.
so we can control what comes out.
in vanilla we have added a theme suggestion for the view modes

the userfield can be changed at:
/admin/config/people/accounts/display
{{ attributes }}
{{ content.user_picture['#object'].getEmail() }}
#}

{{ content.user_picture }}

{# link to account #}
<a href="/user/{{ content.user_picture['#object'].id }}" title="">{{ content.user_picture['#object'].getUsername() }}</a>

{#  remove markup hardcoded in D8.0  issue on d.o https://www.drupal.org/node/2698019 #}
{% set member_for_date = content.member_for['#markup']|split('</h4>') %}

<ul class="u-small">
  <li><time>{{ member_for_date.1 }}</time></li>
  <li>created: {{ content.user_picture['#object'].getCreatedTime|date('d.M y') }}</li>
  <li>access: {{ content.user_picture['#object'].getLastAccessedTime|date('d.m Y') }}</li>
  <li>login: {{ content.user_picture['#object'].getLastLoginTime|date('d.m Y') }}</li>
</ul>

{{ content|without('user_picture', 'member_for') }}
