{#
avalible Variables:
{{ logged_in }}
{{ root_path }}
{{ node_type }}
{{ head_title.title }}
{{ head_title.name }}
{{ head_title.slogan }}
{{ db_offline}}
#}
{#
  set var = [
    test-if-avariable-is-true ? 'true': false,
    something ~ 'tilde-adds-to-something',
    logged_in ? 'user-logged-in',
    node_type ? 'content-type-' ~ node_type|clean_class,
  ]
#}
{%
  set body_classes = [
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    {#
      favicons hell
      to give you a bit of context:
      * https://mathiasbynens.be/notes/touch-icons
      * https://css-tricks.com/favicon-quiz/
      to fix this without stabbing a knife in your eye:
      http://realfavicongenerator.net
      remember to correct the paths od the favicons/manifest.json
    #}
    <link rel="apple-touch-icon" sizes="57x57" href="/{{ active_theme_path() }}/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/{{ active_theme_path() }}/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/{{ active_theme_path() }}/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/{{ active_theme_path() }}/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/{{ active_theme_path() }}/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/{{ active_theme_path() }}/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/{{ active_theme_path() }}/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/{{ active_theme_path() }}/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/{{ active_theme_path() }}/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/{{ active_theme_path() }}/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/{{ active_theme_path() }}/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/{{ active_theme_path() }}/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/{{ active_theme_path() }}/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/{{ active_theme_path() }}/favicons/manifest.json">
    <link rel="mask-icon" href="/{{ active_theme_path() }}/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/{{ active_theme_path() }}/favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="drupal8">
    <meta name="application-name" content="drupal8">
    <meta name="msapplication-TileColor" content="#E2E6E8">
    <meta name="msapplication-TileImage" content="/{{ active_theme_path() }}/favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="/{{ active_theme_path() }}/favicons/browserconfig.xml">
    <meta name="theme-color" content="#E2E6E8">
    {#  phew ... you could wish for some kind of standard #}

    <title>{{ head_title.name }} |  {{ head_title.title }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
{{ dump( content ) }}
