{#
{{ base_path }} : The base URL path of the Drupal installation.
{{ is_front }}  : A flag indicating if the current page is the front page.
{{ logged_in }} : A flag indicating if the user is registered and signed in.
{{ is_admin }} : A flag indicating if the user has permission to access administration pages.

  create an image quick n dirty
  <img src="{{ active_theme_path() }}/images/d8.png">
#}

{# header reagion #}
{% include active_theme_path() ~ '/templates/component/header/header.html.twig' %}

<div class="L L-fixed fullwidth t-header js-header">
  <div class="w-2 L-left-middle">
    {{ page.header_pre }}
  </div>
  <div class="w-8 L-center-middle">
    {{ page.header }}
  </div>
  <div class="w-2 L-right-middle">
    {{ page.header_post }}
  </div>
</div>


{# Hero and navigation #}
{% if is_front %}
  {% include active_theme_path() ~ '/templates/component/hero/hero.html.twig' %}
<header role="banner" class="menu-main js-menu-main" id="mainmenu">
{% else %}
<header role="banner" class="menu-main js-menu-main menu-main--locked" id="mainmenu">
{% endif %}
  {{ page.menu }}
</header>

<main role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  {{ page.top }}

  {{ page.content_pre }}
  {{ page.content }}
  {{ page.content_post }}

  {{ page.bottom }}
</main>


<footer role="contentinfo" class="L pagewidth t-footer screenheight-fourth">
  <div class="w-12 t-gray700 L-space">
    <div>{{ page.footer_1 }}</div>
    <div>{{ page.footer_2 }}</div>
    <div>{{ page.footer_3 }}</div>
    <div>{{ page.footer_4 }}</div>
  </div>

  <div class="w-12">{{ page.footer }}</div>
</footer>
