{#
{{ base_path }} : The base URL path of the Drupal installation.
{{ is_front }}  : A flag indicating if the current page is the front page.
{{ logged_in }} : A flag indicating if the user is registered and signed in.
{{ is_admin }} : A flag indicating if the user has permission to access administration pages.

  create an image quick n dirty
  <img src="{{ active_theme_path() }}/images/d8.png">
#}


{# Hero and navigation #}
{% if is_front %}
<div class="t-hero-front js-hero-front layout layout--center-middle height-full height-half@s " id="top">
  {# we should write this as some code yo #}
  <a href="#mainmenu">
    <h1>mortendk</h1>
    <h2>My favorite color is #bada55</h2>
    <h3>Drupal Webdesigner</h3>
    <div class="">arrow down</div>
  </a>
</div>
<header role="banner" class="hero-nav js-hero-nav" id="mainmenu">
{% else %}
<header role="banner" class="hero-nav js-hero-nav hero-nav--locked" id="mainmenu">
{% endif %}

  <div class="layout layout--nomargin">
    <div class="width-2">
      {{ page.logo }}
    </div>
    <div class="width-10">
    {{ page.header }}
    </div>
  </div>

</header>

<main role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  {{ page.message }}

  
  {{ page.content }}

  {% if page.sidebar_first %}
    <aside role="complementary">
      {{ page.sidebar_first }}
    </aside>
  {% endif %}

  {% if page.sidebar_second %}
    <aside role="complementary">
      {{ page.sidebar_second }}
    </aside>
  {% endif %}

</main>

{% if page.footer %}
  <footer role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}
